# Python 

- [Strings](#strings)
- [Dictionary](#dictionary)
- [List](#list)
- [Tuple](#tuple)

<a id=strings></a>
## Strings

Let's take the following string

" I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"


- [Consider the above text as a string, figure out the average length of the string.](#question1)

- [Lower the text in the string.](#question2)

- [Try to get the clean text removing the punctuation from the string.](#question3)

- [Extract word "Data Science" from the string.](#question4)

- [Find the frequency of words used in the string.](#question5)

- [Find all the words which occurred more than once in the string.](#question6)

- [Can you change the word "Supervised" to "Unsupervised" in the string](#question7)

- [Splitting of the string with a dot operator(.)](#question8)

- [Find the words from the string which ends with "e"](#question9)

- [Figure out number of a's used in the string.](#question10)

In [1]:
#Given Statement
Statement= " I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"

<a id='question1'></a>
#### Consider the above text as a string, figure out the average length of the string.

In [2]:
#Length of the string
print("Length of the string: ", len(Statement))

Length of the string:  328

<a id='question2'></a>
#### Lower the text in the string.

In [3]:
#Text in lower case 
Statement=Statement.lower()
print(Statement)

 i am very keen in building up my career in data science, but not sure from where to start. if i search the web it throws me thousands of articles, few are relevant others make me confused, again i come around to the same page. supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

<a id='question3'></a>
#### Try to get the clean text removing the punctuation from the string.

In [4]:
#removing punctuations
import string
Statement=Statement.translate(str.maketrans('', '', string.punctuation))

<a id='question4'></a>
#### Extract word "Data Science" from the string.

In [5]:
#extracting data science from given statement
extract_word="data science"
initial_index=Statement.find(extract_word)
final_index=initial_index+len(extract_word)
Statement[initial_index:56]

'data science'

<a id='question5'></a>
#### Find the frequency of words used in the string.

In [6]:
#finding the frequency of words in the string
Split= Statement.split()
words={}
for word in Split:
    words[word]=Split.count(word)
print(words)

{'i': 3, 'am': 1, 'very': 1, 'keen': 1, 'in': 3, 'building': 1, 'up': 1, 'my': 2, 'career': 1, 'data': 1, 'science': 1, 'but': 1, 'not': 1, 'sure': 1, 'from': 1, 'where': 1, 'to': 3, 'start': 1, 'if': 1, 'search': 1, 'the': 2, 'web': 1, 'it': 1, 'throws': 1, 'me': 3, 'thousands': 1, 'of': 1, 'articles': 1, 'few': 1, 'are': 1, 'relevant': 1, 'others': 1, 'make': 1, 'confused': 1, 'again': 1, 'come': 1, 'around': 1, 'same': 1, 'page': 1, 'supervised': 1, 'has': 1, 'provided': 1, 'a': 1, 'good': 1, 'platform': 1, 'remove': 1, 'all': 1, 'such': 1, 'qualms': 1, 'which': 1, 'were': 1, 'wrangling': 1, 'mind': 1}

<a id='question6'></a>
#### Find all the words which occurred more than once in the string.

In [7]:
#finding the words that occured more than once
freq_words=[]
for word,count in words.items():
    if count>1:
        freq_words.append(word)
print("Words that occurred more than once in a string:")
print(freq_words)

Words that occurred more than once in a string:
['i', 'in', 'my', 'to', 'the', 'me']

<a id='question7'></a>
#### Can you change the word "Supervised" to "Unsupervised" in the string

In [8]:
#replacing supervised with unsupervised 
Statement=Statement.replace('supervised','unsupervised')
print(Statement)

 i am very keen in building up my career in data science but not sure from where to start if i search the web it throws me thousands of articles few are relevant others make me confused again i come around to the same page unsupervised has provided me a good platform to remove all such qualms which were wrangling in my mind

<a id='question8'></a>
#### Splitting of the string with a dot operator(.)

In [9]:
#Splitting the given statement
Split_String=Statement.split()

<a id='question9'></a>
#### Find the words from the string which ends with "e"

In [10]:
#finding all the words that end with e
ends_with_e=[]
for word in Split_String:
    if word.endswith('e'):
        ends_with_e.append(word)
print(ends_with_e)

['science', 'sure', 'where', 'the', 'me', 'are', 'make', 'me', 'come', 'the', 'same', 'page', 'me', 'remove', 'were']

<a id='question10'></a>
#### Figure out number of a's used in the string.

In [11]:
#counting the occurrence of the letter 'a'
Statement.count('a')

22

<a id='dictionary'></a>
## Dictionaries 


- [In the weekend , I purchased 250g of apple, 500g of sugar, 2.5 kg of rice, 2.5 litres of milk and finally 1 dozen of egg. Can you help me frame the above purchase in the form of dictionary with commodities as keys to it.](#questiond1)

- [I forgot to mention another item, 1kg of atta packet. Can you also add it ?](#questiond2)

- [Instead of 2kg of rice, I bought only 1kg of rice. Can you change the corresponding value ?](#questiond3)

- [Can you list out all these items using a loop.](#questiond4)

- [However, the cost of 1 kg apple is Rs.220, 1 kg of sugar is Rs.43, 1 Kg of rice is Rs. 45, 1 litre of milk is Rs.30 and 1 dozen of egg is Rs. 60.
Create another dictionary for pricing.](#questiond5)

- [Thereby, prepare a bill for me of the overall cost of the total commodities purchased by using two dictionaries !](#questiond6)

<a id=questiond1></a>
#### In the weekend , I purchased 250g of apple, 500g of sugar, 2.5 kg of rice, 2.5 litres of milk and finally 1 dozen of egg. Can you help me frame the above purchase in the form of dictionary with commodities as keys to it.

In [12]:
#all commodities are in Kilograms except milk, eggs.
#milk in milliliters and eggs in dozens

commodities={'apple':0.25,'sugar':0.5,'rice':2.5,'milk':2.5,'eggs':1}

<a id=questiond1></a>
#### I forgot to mention another item, 1kg of atta packet. Can you also add it ?

In [13]:
# adding new item atta (in kilograms)
commodities['atta']=1

<a id=questiond2></a>
#### Instead of 2kg of rice, I bought only 1kg of rice. Can you change the corresponding value ?

In [14]:
#changing rice quantity from 2.5kg to 1kg
commodities['rice']=1

<a id=questiond3></a>
#### Can you list out all these items using a loop.

In [15]:
#lisiting all the commodities
print("Listed Commodities:")
for commodity, quantity in commodities.items():
    print(commodity,":",quantity)

Listed Commodities:
apple : 0.25
sugar : 0.5
rice : 1
milk : 2.5
eggs : 1
atta : 1

<a id=questiond4></a>
#### However, the cost of 1 kg apple is Rs.220, 1 kg of sugar is Rs.43, 1 Kg of rice is Rs. 45, 1 litre of milk is Rs.30, 1kg of atta is Rs.32 and 1 dozen of egg is Rs. 60. Create another dictionary for pricing.

In [16]:
#creating a dictionary for all the prices
pricing= {'apple':220,'sugar':43,'rice':45,'milk':30,'eggs':60, 'atta':32}

<a id=questiond5></a>
#### Thereby, prepare a bill for me of the overall cost of the total commodities purchased by using two dictionaries !

In [17]:
total_bill=0
commodity_bills={}
for key in commodities.keys():
    temp=commodities[key]*pricing[key]
    total_bill=total_bill+temp
    commodity_bills[key]=temp
    
print("Bill:")
print(commodity_bills)
print("Total Bill:", total_bill)

Bill:
{'apple': 55.0, 'sugar': 21.5, 'rice': 45, 'milk': 75.0, 'eggs': 60, 'atta': 32}
Total Bill: 288.5

<a id='list'></a>
## List

```python 
Listed are the top AI companies in the world
AI_companies=['Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'SenseTime']
```

- [Sort the list in ascending order](#questionl1)

- [Add multiple companies at once 'Nvidia', 'OpenAI' , 'Qualcomm' and 'Reliance' to the list](#questionl2)

- [Make every alphabet, string inside the list into lower case letters.](#questionl3)

- [Eliminate 'Reliance' from the list](#questionl4)

- [Extract 'Facebook', 'Google' and 'Microsoft' using a single command](#questionl5)

In [18]:
AI_companies=['Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'SenseTime']

<a id=questionl1></a>
#### Sort the list in ascending order

In [19]:
AI_companies.sort()

print(AI_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'HiSilicon', 'Microsoft', 'SenseTime']

<a id=questionl2></a>

#### Add multiple companies at once 'Nvidia', 'OpenAI' , 'Qualcomm' and 'Reliance' to the list

In [20]:
AI_companies.extend(['Nvidia','OpenAI','Qualcomm','Reliance'])
print(AI_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'HiSilicon', 'Microsoft', 'SenseTime', 'Nvidia', 'OpenAI', 'Qualcomm', 'Reliance']

<a id=questionl3></a>
#### Make every alphabet, string inside the list into lower case letters.

In [21]:
AI_companies= [word.lower() for word in AI_companies]
print(AI_companies)

['amazon', 'apple', 'facebook', 'google', 'hisilicon', 'microsoft', 'sensetime', 'nvidia', 'openai', 'qualcomm', 'reliance']

<a id=questionl4></a>
#### Eliminate 'Reliance' from the list

In [22]:
AI_companies.remove('reliance')
# AI_companies.pop() #pop will also remove reliance
print(AI_companies)

['amazon', 'apple', 'facebook', 'google', 'hisilicon', 'microsoft', 'sensetime', 'nvidia', 'openai', 'qualcomm']

<a id=questionl5></a>
#### Extract 'Facebook', 'Google' and 'Microsoft' using a single command

In [23]:
print(AI_companies[2:4]+AI_companies[5::6])

['facebook', 'google', 'microsoft']

<a id=tuple></a>
   
## Tuple


- [Consider the above standard price problem statement and place the prices in the form of the tuple.](#questiont1)

- [Find out the min and max price among them.](#questiont2)

- [Also, convert the above "AI_companies" list to a tuple.](#questiont3)

- [Combine two above tuples to a single tuple.](#questiont4)

- [Compare the length of two tuples.](#questiont5)

<a id=questiont1></a>


#### Consider the above standard price problem statement and place the prices in the form of the tuple.

In [24]:
prices=tuple(pricing.values())
print(prices)

(220, 43, 45, 30, 60, 32)

<a id=questiont2></a>


#### Find out the min and max price among them.

In [25]:
max_price=-1
min_price=10000000
for price in prices:
    if price<min_price:
        min_price=price
    if price>max_price:
        max_price=price
        
print("Min price:",min_price)
print("Max price:",max_price)

Min price: 30
Max price: 220

<a id=questiont3></a>
#### Also, convert the above "AI_companies" list to a tuple.

In [26]:
t1=tuple(AI_companies)
print(t1)

('amazon', 'apple', 'facebook', 'google', 'hisilicon', 'microsoft', 'sensetime', 'nvidia', 'openai', 'qualcomm')

<a id=questiont4></a>
#### Combine two above tuples to a single tuple.

In [27]:
t3=prices+t1
print(t3)

(220, 43, 45, 30, 60, 32, 'amazon', 'apple', 'facebook', 'google', 'hisilicon', 'microsoft', 'sensetime', 'nvidia', 'openai', 'qualcomm')

<a id=questiont5></a>
#### Compare the length of two tuples.

In [28]:
print(len(prices),len(t1),len(t3))

6 10 16